ul{ list-style : none;}

a {
    text-decoration: none;
    color : black;
    font-size: 16px;
    font-weight: 400;
}

.container{
    max-width : 1920px;
    margin: 0 auto;
    padding : 0 15px;
}

.header-content{
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2e9d8;
}

.top-background {
    position: relative;
    max-width: 100%;
    height: 900px;
    background-color: #f2e9d8;
    display : flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.logo {
    width: 130px;
    height: 40px;
    top : 30px;
    left : 30px;
    margin-right : 20px;
}

nav{
    position : relative;
    max-width : 1200px;
    font-size : 16px;
}

nav li{
    display: inline;
    margin-left : 30px;
}

button{
    background-color : #d97652;
    width : 140px;
    height : 50px;
    border : none;
    border-radius : 40px;
    color : white;
    font-weight : 700;
    font-size : 16px;
    text-align: center;
}

.text-wrapper{
    position: absolute;
    width: fit-content;
    top : 300px;
    left : 100px;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    line-height: 30px;
}

.main-image{
    position: relative;
    width: fit-content;
    left : 700px;
}

.article-content {
    display: flex;
    align-items: flex-start;

}

.article-image {
    width: 720px;
    height: 450px;
    margin-right: 20px;
    border-radius: 30px;
}

.text-content{
    display: flex;
    flex-direction: column;
}

.lorem-ipsum-is {
    position: relative;
    width: 510px;
    height: 135px;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 45px;
    margin-bottom : 20px;
}

.lorem-ipsum-detail{
    position : relative;
    width : 510px;
    height: 135px;
    font-size: 16px;
    margin-top: 20px;
}

.text-center{
    text-align : center;
    margin-top : 10px;
    color: #d97652;
    font-size : 36px;
    font-weight: bold;
}

.text-center-detail{
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.font-color{
    color : #d97652;
}

/*이미지 불러오기*/
.image-list {
    display : grid;
    grid-template-columns : repeat(3,1fr);
    grid-gap : 10px;
    list-style : none;
    margin : 0 auto;
    padding : 0;
}
.image-list li{
    width : 378px;
    height : 378px;
    overflow : hidden;
}

.image-list img{
    width : 100%;
    height : 100%;
    border-radius : 30px;
    object-fit: cover;
}
.show-more {
    display: block;
    padding: 10px 0;
    margin: 20px auto;
    cursor: pointer;
    background-color : #d97652;
    width : 140px;
    height : 50px;
    border : none;
    border-radius : 40px;
    color : white;
    font-weight : 700;
    font-size : 16px;
    text-align: center;
}

.text-position{
    position : relative;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    margin : 0 auto;
}

/*지도*/

html, body {width:100%;height:100%;margin:0;padding:0;}
.map_wrap {position:relative; margin : 0 auto;width:85%;height:520px;}
.radius_border{border:1px solid #919191;border-radius:5px;}
.custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;}
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}

.map {
    position : relative;
    margin : 0 auto;
    width : 1280px;
    height : 520px;
}

.sub-background {
    display : flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 200px;
    background-color: #263140;
    border-radius: 30px;
    margin : 40px auto;
    padding: 0 30px;
    box-sizing : border-box;
}

.text-section{
    color : white;
}

.bold-text {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 8px;
}

.light-text {
    font-weight: 300;
    font-size: 14px;
}

.enter-email-box {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 530px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
}

.email-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.enter-email-box input[type="email"] {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 30px;
}

.enter-email-box button {
    width: auto;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #d97652;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.subscribe-button{
    border-radius : 40px;
}

/*모달 창*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-image: url('img/modal.png');
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    height: 400px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius : 30px;
}

.close-modal{
    width : 183px;
    height : 50px;
}

footer{
    position : relative;
    text-align : center;
    align-items: center;
}

.footer-img {
    width: 1920px;
    height: 340px;
    display: block;
    margin: 0 auto;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sns_area{
    display : flex;
    justify-content : center;
    list-style : none;
    padding : 0;
    margin : 0;
}

.sns_area li{
    padding-left: 20px;
}

.sns_area a{
    display : inline-flex;
    justify-content : center;
    align-items : center;
    border-radius : 50%;
    background-color: #d97652;
    width : 42px;
    height : 42px;
}

.logo-fin{
    width: 130px;
    height: 40px;
    top : 30px;
    left : 30px;
    margin-right : 20px;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.scroll-to-top-btn img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}